* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
#navbar-header {
  height: 10vh;
}

nav .brand-logo {
  line-height: 0.8;
  font-weight: 500;
  margin: 2rem 3rem;
}

#word-code {
  font-size: 24px;
  margin-left: 3rem;
}

nav ul {
  font-weight: 500;
  padding: 0.84rem 3rem !important;
}

nav ul > li > a {
  font-size: 20px;
}

#first-container,
#first-first-col,
#first-second-col,
#second-container,
#third-container {
  width: 100%;
  height: 85vh;
  margin: 0;
}

#first-container > div {
  padding-top: 8rem;
}

#first-container #first-second-col h2 {
  font-weight: 700;
  line-height: 1.2;
  width: 30rem;
  font-size: 64px;
  margin: auto;
}

#first-container #first-second-col h5 {
  width: 40rem;
  font-size: 32px;
  font-weight: 500;
  margin: 85px auto 0;
}

#first-container #first-second-col a {
  font-weight: 500;
  border-radius: 15px;
  font-size: 26px;
  height: 6rem;
  width: 22rem;
  margin: 112px auto 0;
  padding-top: 1.4rem;
}

#first-container #first-second-col a i {
  font-size: 44px;
}

#second-container #second-first-col h1 {
  font-weight: 600;
}

#second-container #second-first-col h1 span#word-somos {
  font-size: 44px;
  line-height: 3.5;
}

#second-container #second-first-col h1 > i {
  font-size: 124px;
  line-height: 0.1;
  margin-right: 0px;
}

#second-container #second-first-col h1 > i > span#word-code {
  font-size: 88px;
  margin-left: 338px;
}

#second-container #second-second-col h2,
#second-container #second-second-col h5 {
  width: 32rem;
  font-weight: 500;
}

#second-container #second-second-col h2 {
  margin: 160px auto 80px;
}

#second-container #second-second-col h5 {
  font-size: 1.74rem;
  margin: 0 auto 24px;
}

#second-container #second-second-col #brands {
  width: 29rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#third-container h2 {
  width: 70rem;
  font-weight: 500;
  margin: 48px auto 96px;
}

#fourth-container {
  height: 30vh;
  padding-top: 8px;
}

#fourth-container h4 {
  width: 46rem;
  font-weight: 500;
  margin: 48px auto;
}

#fourth-container a {
  font-weight: 500;
  border-radius: 15px;
  font-size: 26px;
  height: 6rem;
  width: 22rem;
  margin: auto;
  padding-top: 1.4rem;
}

#fourth-container a i {
  font-size: 44px;
}

footer {
  height: 42vh;
}

#footer-first-col,
#footer-second-col {
  height: 38vh;
}

#footer-first-col h1 {
  font-weight: 600;
  margin-top: 11.5vh;
}

#footer-first-col h1 span.white-text {
  font-size: 52px;
  margin-left: 180px;
}

#footer-second-col h4 {
  font-weight: 500;
  margin-top: 11.5vh;
}

#footer-rights {
  height: 8vh;
}

#footer-rights h5 {
  font-weight: 500;
  margin-top: 3vh;
}
